.custom-carousel {
    height: 82vh;
}

@media (max-width: 1200px) {
    .custom-carousel {
        height: 60vh;
    }
}

/* Smaller height for smaller screens */
@media (max-width: 768px) {
    .custom-carousel {
        height: 50vh;
    }
}

